<html>
    <head>
        <title>ApolloClock</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/main.css">
        <script type="module" src="scripts/main.js"></script>
    </head>
    <body>
        <div id="container">
            <header v-if="titleBarVisible" :data-platform="platform" :data-inactive="!foreground">
                <div class="button-group">
                    <a v-if="showBack" href="#" id="back-button" v-on:click.prevent="GoBack"><font-awesome-icon icon="arrow-left" /></a>
                </div>
                <h1>Apollo Clock</h1>
                <div class="button-group system-buttons">
                    <a href="#" id="minimize-button" v-if="titleButtonsVisible" v-on:click.prevent="Minimize"><font-awesome-icon icon="window-minimize" /></a>
                    <a href="#" id="maximize-button" v-if="!maximized && titleButtonsVisible" v-on:click.prevent="Maximize"><font-awesome-icon icon="window-maximize" /></a>
                    <a href="#" id="restore-button" v-if="maximized && titleButtonsVisible" v-on:click.prevent="Restore"><font-awesome-icon icon="window-restore" /></a>
                    <a href="#" id="close-button" v-if="titleButtonsVisible" v-on:click.prevent="Close"><font-awesome-icon icon="times" /></a>
                </div>
            </header>
            <component v-bind:is="currentPage"></component>
        </div>
    </body>
</html>