html {
    font-size: 16px;
}

body {
    background: #000;
    color: #FFF;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    -webkit-user-drag: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    & > * {
        flex: 1 0 0;
    }

    header {
        background: #37474F;
        flex: 0 0 2.0rem;
        font-size: 0.8rem;
        -webkit-user-select: none;
        -webkit-app-region: drag;
        display: flex;
        align-items: center;
        padding: 0 0.3rem;

        &[data-inactive="true"] {
            background: #62727B;
            color: #CFD8DC;
        }

        .button-group {
            flex: 1 0 0;
            display: flex;

            &.system-buttons {
                justify-content: flex-end;
            }
        }

        h1 {
            font-size: inherit;
            font-weight: normal;
            margin: 0;
            flex: 0 0 auto;
            text-align: center;
        }

        a {
            display: flex;
            cursor: default;
            flex: 0 0 1.5rem;
            height: 1.5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0.2rem;
            -webkit-app-region: no-drag;

            &:hover, &:active {
                background: #62727B;
            }
        }

        &[data-platform="win32"] {
            font-size: 0.75rem;
            padding: 0;

            &[data-inactive="true"] {
                background: #37474F;
            }

            .button-group {
                flex: 0 0 auto;
                display: flex;
            }

            h1 {
                text-align: left;
                padding: 0 0.7rem;
                flex: 1 0 0;
            }

            a {
                flex-basis: 2.875rem;
                width: 2.875rem;
                height: 2rem;
                border-radius: 0;

                &:hover {
                    background: #455A64;
                }

                &:active {
                    background: #546E7A;
                }

                &:before {
                    font-family: "Segoe MDL2 Assets";
                    font-size: 0.625rem;
                }

                svg {
                    display: none;
                }

                &#back-button {
                    &:before {
                        content: "\e830";
                    }
                }

                &#minimize-button:before {
                    content: "\e921";
                }

                &#maximize-button:before {
                    content: "\e922";
                }

                &#restore-button:before {
                    content: "\e923";
                }

                &#close-button {
                    &:before {
                        content: "\e8bb";
                    }
                    
                    &:hover {
                        background: #E81123;
                    }

                    &:active {
                        color: #000;
                        background: #F1707A;
                    }
                }
            }
        }

        &[data-platform="darwin"] {
            flex-basis: 2.375rem;
            background: linear-gradient(to bottom, #E5E5E5 0, #CDCCCD 100%);
            box-shadow: inset 0 1px 0 #F5F4F5, inset 0 -1px 0 #A8A7A6;
            color: #565555;
            font-size: 0.75rem;
            padding: 0 5rem;

            @media (-webkit-min-device-pixel-ratio: 2) {
                box-shadow: inset 0 0.5px 0 #F5F4F5, inset 0 -0.5px 0 #A8A7A6;
            }

            a {
                flex-basis: 2.5rem;
                background: linear-gradient(to bottom, #FCFCFC 0, #F3F3F3 100%);
                color: #565656;
                border-radius: 0.25rem;
                box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 1px rgba(0, 0, 0, 0.22), 0 1px 1px rgba(0, 0, 0, 0.06);

                @media (-webkit-min-device-pixel-ratio: 2) {
                    box-shadow: inset 0 -0.5px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 0.5px rgba(0, 0, 0, 0.22), 0 0.5px 0.5px rgba(0, 0, 0, 0.06);
                }

                &:hover {
                    background: linear-gradient(to bottom, #FCFCFC 0, #F3F3F3 100%);
                }

                &:active {
                    background: #DDD;
                }
            }

            &[data-inactive="true"] {
                background: #F6F6F6;
                color: #AFAFAE;

                a {
                    box-shadow: inset 0 0 0 1px #DBDBDB, inset 0 0 0 2px rgba(0, 0, 0, 0.04);
                    border-color: #DBDBDB;
                    border: 0;
                    color: #B2B2B2;
                    background: none;

                    @media (-webkit-min-device-pixel-ratio: 2) {
                        box-shadow: inset 0 0 0 0.5px #DBDBDB, inset 0 0 0 1px rgba(0, 0, 0, 0.04);
                    }
                }
            }
        }
    }
}