#main-page {
    overflow: hidden;

    #panels {
        height: 100%;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);

        & > * {
            overflow: hidden;
        }
    }
}