#main-page {
    display: flex;
    overflow: hidden;

    #panels {
        flex: 1 0 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);

        & > * {
            overflow: hidden;
        }
    }
}